@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-size: 100%;
  box-sizing: border-box;
  
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a,
button,
input,
label {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --green: #04AA6D;
  --gray: #bbbbbb;
  --white: white;
  --ligth-gray: #e3e3e3;
  --yellow: #fff159;
  --red: red;

  --padding: 15px;
  --header: 65px;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}

table {
  border: 0.5px solid var(--gray);
}

table thead th {
  background-color: var(--gray);
  color: white;
}

table td,
table th {
  padding: 5px;
}

ul {
  padding-left: 20px;
}

.header {
  display: grid;
  border-bottom: 1px solid var(--ligth-gray);

  /* align-content: space-evenly; */
  background-color: var(--greyapple);
  grid-auto-flow: column;
  place-items: center;
}

.header .image,
.header .brand {
  background-color: var(--green);

  cursor: pointer;
  justify-self: left;
  padding-right: var(--padding);
  padding-left: var(--padding);

  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  place-items: center;
  height: var(--header);
  font-size: 30px;
  color:var(--ligth-gray);
  column-gap: 15px;
}

.header .nav {
  display: grid;
  grid-auto-columns: minmax(min-content, auto);
  grid-auto-flow: column;
  grid-gap: 1px;
  place-items: center;
  justify-self: right;
  padding-right: var(--padding);
}

.header .nav a {
  border: 1px solid transparent;
  transition: .3s all ease-in-out;

  height: var(--header);
  display: grid;
  align-content: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.header .nav a:hover {
  background-color: var(--ligth-gray);
  transition: color 0.3s ease, border-color 0.3s ease;
  cursor: hand !important;
}

/* LOGIn */

.login,
.addproduct,
.mercadolibre {
  display: grid;
  height: 95vh;
  align-content: center;
  justify-content: center;
}

.mercadolibre {
  /* column-gap: 20px; */
  grid-template-columns: 1fr 1fr;
}

.mercadolibre .menu {
  display: grid;
  align-content: center;
  justify-content: end;
  background-color: var(--yellow);
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mercadolibre .options {
  display: grid;
  align-content: center;
  justify-content: start;
  padding-left: 40px;
  width: 100%;
}

.big {
  width: 70vw !important;
}

.medium {
  width: 40vw !important;
}

.form {
  display: grid;
  grid-template-rows: auto;
  width: 400px;
}

.form input {
  padding: 10px;
  border: 0.5px solid var(--gray);
}

.form input,
.form button,
.status > button {
  margin-bottom: 10px;
  height: 50px;
}

.form button {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  /* padding: 14px 28px; */
  border-radius: 5px;
  font-size: 18px;
}

.form button {
  border-color: var(--green);
  color: var(--green);
}

.form button:hover {
  background-color: var(--green);
  color: var(--white);
}

.login .form .log,
.login .form .link {
  align-self: center;
  text-align: center;
}

.form .legend {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.legend div,
.legend a {
  align-self: center;
}

.status {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 5fr 1fr 5fr;
}

.active,
.inactive {
  height: 13px;
  width: 13px;
  border-radius: 7px;
}

.active {
  background-color: var(--green);
}

.inactive {
  background-color: var(--red);
}

.second {
  margin-top:100px;
}

.jwt {
  margin-top:20px;
  display: grid;
  color:#c3c3c3;
}

.home {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 80vh;
}

.json {
  overflow: auto;
  max-height: 300px;
}

.json pre {
  background-color: var(--gray);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.columns .label {
  text-align: center;
}

.columns .label.selected {
  background-color: var(--ligth-gray);
  cursor: pointer;
}
.columns .label.selected:hover {
  background-color: var(--green);
  color:var(--white);
  border:0.5px solid var(--ligth-gray)
}

.columns .label,
.columns .value {
  padding-bottom: 5px;
  padding-top: 5px;
}

.columns .value {
  padding-left: 10px;
  border-bottom: 1px solid var(--gray);
}