@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a,
button {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}

.header {
  display: grid;
  border-bottom: 1px solid #e3e3e3;
  grid-template-columns: 1fr 1fr;
}

.header .image {
  height: 60px;
}
/*

*/
/* .header .user {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
} */

.header .nav {
  display: grid;
  /* grid-column: 2/5; */
  grid-template-columns: repeat(6, auto);
  justify-content: end;
}

.header .nav a {
  padding: 20px;
  border: 1px solid transparent;
}
.header .nav a:hover {
  background-color: #eae8e8;
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: hand !important;
}

/* LOGIn */

.login,
.addproduct,
.mercadolibre {
  display: grid;
  height: 95vh;
  align-content: center;
  justify-content: center;
}

.mercadolibre {
  /* column-gap: 20px; */
  grid-template-columns: 1fr 1fr;
}

.mercadolibre .menu {
  display: grid;
  align-content: center;
  justify-content: end;
  background-color: #fff159;
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mercadolibre .options {
  display: grid;
  align-content: center;
  justify-content: start;
  padding-left: 40px;
  width: 100%;
}

.form {
  display: grid;
  grid-template-rows: auto;
  width: 400px;
}

.form input {
  padding: 10px;
  border: 0.5px solid #c3c3c3;
}

.form input,
.form button,
.status > button {
  margin-bottom: 10px;
  height: 50px;
}

.form button {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  /* padding: 14px 28px; */
  border-radius: 5px;
  font-size: 18px;
}

.form button {
  border-color: #04AA6D;
  color: green;
}

.form button:hover {
  background-color: #04AA6D;
  color: white;
}

.login .form .log,
.login .form .link {
  align-self: center;
  text-align: center;
}

.form .legend {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.legend div,
.legend a {
  align-self: center;
}

.status {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 5fr 1fr 5fr;
}

.active,
.inactive {
  height: 13px;
  width: 13px;
  border-radius: 7px;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}

.second {
  margin-top:100px;
}

.jwt {
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-size: 10px;
  color:#c3c3c3;
}